---
###  Actually pre-process this thing please.
---

@import "setup";

body{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto auto auto auto;
  grid-gap: 0.5em;
  grid-template-areas:
                  "header"
                  "nav"
                  "main"
                  "footer";
}
header{ grid-area:header; }
nav{ grid-area:nav; }
main{ grid-area:main; }
footer{ grid-area:footer; }